# haproxy.cfg
frontend http
    bind *:8100
    mode http
    timeout client 100s
    use_backend all

backend all
    mode http
    server s1 api:8000
    server s2 api-one:8001
    server s3 api-two:8002